<?xml version='1.0' encoding='utf-8'?>
<widget id="com.my.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AppName</name>
    <description>App description</description>
    <author email="you@mail.com" href="http://site.com">
        Author name
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Orientation" value="landscape" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="25" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-signed" value="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0xff000000" />
    <icon density="ldpi" height="36" platform="android" src="www\icon-256.png" width="36" />
    <icon density="mdpi" height="48" platform="android" src="www\icon-256.png" width="48" />
    <icon density="hdpi" height="72" platform="android" src="www\icon-256.png" width="72" />
    <icon density="xhdpi" height="96" platform="android" src="www\icon-256.png" width="96" />
</widget>
